/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(230, 226, 226);
    font-family: "Work Sans", sans-serif;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

img{
    width: 100px;
}

h1{
    font-family: "Fjalla One", sans-serif;
}

form{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

fieldset{
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 5px
}

legend{
    font-weight:bold;
    font-size: 18px;
    padding: 0 5px;
}


